// Fuentes
$inter:  'Inter', sans-serif;
$lexend: 'Lexend Deca', sans-serif;


// Tamaño de Media Queries
$telefono: 375px;
$desktop: 1440px;

// Colors
//Primary
$darkBlue: hsl(233, 47%, 7%); //Main Background
$desaturedBlue: hsl(244, 38%, 16%); //Card background
$violet: hsl(277, 64%, 61%); //Accent
$violetOverlay: rgba(100,10,190,.4); //overlay
//Neutral
$white: hsl(0, 0%, 100%); //main heading, stats
$t1white: hsla(0, 0%, 100%, 0.75); //main paragraph
$t2white: hsla(0, 0%, 100%, 0.6);   //stat headings


$fontsize: 1.5rem;

// Fuentes

$regular : 400;
$bold: 700;